/* Root layout */
.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  font-family: "Inter", Arial, sans-serif;
  background: var(--alt-bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Main Area */
.layout__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--alt-bg-color);
  color: var(--text-color);
}

/* Content */
.layout__content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background: var(--alt-bg-color);
  color: var(--text-color);
}
